
body {
    box-sizing: border-box;
    position: relative;
    font-family: sans-serif;
    overflow-y: scroll;
    font-family: 'Source Sans Pro',sans-serif;
    overflow-x: hidden;
}

html {
 scroll-behavior: smooth;
}

#hamburger {
    margin-right: 20px;
}

.main-container {
    background-image: url(/images/white.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.btn {
    background: #000000;
    width: 15%;
    height: 6vh;
    border-radius: 40px;
    color: #ffffff;
   
}

/* .about-me-container {
    background-image: url(/images/port.png);
   background-position: center;
  
} */

.animate__animated.animate__bounce {
 
    --animate-duration: 2s;
  }

  
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }

  

  .btn0 {
    background: #000000;
    width: 25%;
    height: 6vh;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 40px;
  }


  #about {
    background-color: grey;
  }


  #projects {
    background-color: grey;
  }

 

footer {
   /* background-color: #000000; */
    width: 100vw;
    height: 20vh;
}


@media all and (max-width: 1000px) {
    .main-container > .social-media  {
        display: none;
    }


   }

   @media all and (max-width: 900px) {
    .main-container > .social-media  {
        display: none;
    }


    .projects__row  {
        display: block;
        flex-direction: column;
    } 


    .skills> .skills {
        flex-direction: column;
    }

.projects__row-content {
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
}

   }

   @media all and (max-width: 650px) {
     
   #skill {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   }
   
   .btn {
    background: #000000;
    width: 40%;
    height: 8vh;
    border-radius: 40px;
    color: #ffffff;
   ;
}


   }
